body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E6EA;
    font-size: 1.5rem;
    color: #484C58;
}
.well {
    border: 1px solid #DEDFE2;
    background-color: #FFFFFF;
    border-radius: 0.3125em;
    box-shadow: 0px 1px 0px 0px #dedfe2;
    min-height: 250px;
}
ul.list {
    padding-left: 10px;
    border-radius: 0.3125em;
    border: 1px solid #D0D1D5;
    padding: 0;
}
ul.list li {
    border-bottom: 1px solid #DEDFE2;
    list-style: none;
    color: #484c58;
    padding: 12px;
    opacity: 0.6;
}
ul.list li:last-child {
    border: none;
}
ul.list li:hover {
    background-color: #fcfcfd;
    list-style: none;
    color: #484C58;
    opacity: 1;
}
.title {
    font-size: 1.4em;
    font-weight: 500;
    margin: 10px 0;
}
.navbar {
    margin-bottom: 40px;
    border-radius: 0;
    min-height: 60px;
    padding: 0;
    border: none;
}
.navbar-brand {
    padding: 7px 15px 4px;
    height: 60px;
}
.navbar-brand img {
    height: 100%;
}
.navbar-inverse {
    background-color: #484C58;
    border-color: #484C58;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #13bcff;
}
.navbar-nav>li>a {
    line-height: 30px;
}
input, .input {
    padding: 11px 0 11px 35px;
    width: 100%;
    line-height: 20px;
    background-repeat: no-repeat;
    background-position: 11px center;
    outline: none;
    border-radius: 0.3125em;
    border: 1px solid #D0D1D5;
    border-color: #D0D2D6;
    padding: 10px;
    text-align: left;
    background-color: #fff;
}
